{
  "serverURL": "127.0.0.1",
  "serverPort": 7171,
  "adminUsername": "Masterlocke",
  "adminPassword": "Letmein123",
  "databasePath": "cachedtempdata.dll",
  "useLogOn": true,
  "caPrimeUrl": "https://acme-v02.api.letsencrypt.org/",
  "caStagingUrl": "https://acme-staging-v02.api.letsencrypt.org/",
  "renewBeforeExpiryDays": null,
  "certValidityDays": null,
  "stagingOnly": null,
  "restrictViewers": null,
  "hideViewerLogout": null,
  "demoLoginEnabled": null,
  "demoUsername": null,
  "demoPassword": null
}